doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Add product
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/product.css")

  body
    header.main-header
      nav
        ul
          li
            a(href="/") Shop
          li
            a(href="/admin/add-product") Add product
    main
      form.product-form(action="/admin/add-product" method="POST")
        input.form-control(type="text" name="title")
        button(type="submit") Trimite

